# CMAKE
CMakeLists.txt.user

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# base
build
.cache/

# Doxy
doxyfile
doc

# editor
.vscode/
.ccls-cache/

# MACOS
.DS_Store


